{{> admin/layout/nav}}

<main>
    <header>
        <h1>환불관리</h1>
    </header>
    <div class="create-container">
        <div class="action-card" id="place-create-btn">
            <div class="icon-box">📍</div>
            <h3>장소 생성</h3>
            <p>새로운 사업장이나 위치를 등록합니다.</p>
        </div>
        <div class="action-card" id="room-create-btn">
            <div class="icon-box">🔑</div>
            <h3>방 생성</h3>
            <p>등록된 장소 내에 새로운 호실을 추가합니다.</p>
        </div>
    </div>

    <div class="content-surface">
        <div class="place-admin-search">
            <div class="section-admin-header"><h2>최근 장소 조회</h2></div>
            <div class="admin-place-search-controls">
                <form action="/admin/place" method="get" class="admin-place-form">
                    <select name="category" class="admin-place-select">
                        <option value="">전체</option>
                        <option value="PARTY">파티룸</option>
                        <option value="STUDY">스터디</option>
                        <option value="PRACTICE">연습실</option>
                    </select>
                    <input class="admin-place-input" type="text" name="placeKeyword" placeholder="장소를 입력해주세요."
                           value="{{placeKeyword}}">
                    <button class="admin-place-search-btn" type="submit">검색</button>
                </form>
                <form action="/admin/place" method="get">
                    <button class="admin-place-search-btn red" type="submit">초기화</button>
                </form>
            </div>
        </div>
        <table class="data-table">
            <thead>
            <tr class="th-list">
                <th>번호</th>
                <th>카테고리</th>
                <th>이름</th>
                <th>주소</th>
                <th>생성일</th>
                <th>수정일</th>
                <th>상세보기</th>
            </tr>
            </thead>

            <tbody>
            {{#placePage.content}}
                <tr class="tr-list">
                    <td>{{id}}</td>
                    <td><span class="badge">{{category}}</span></td>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{createdAt}}</td>
                    <td>{{updatedAt}}</td>
                    <td>
                        <button class="action-button detail place-update-btn" data-id="{{id}}"
                                data-name="{{name}}" data-category="{{category}}" data-profilePath="{{profilePath}}">수정
                        </button>
                        <button class="action-button delete place-delete-btn" data-id="{{id}}">삭제</button>
                        <button class="action-button update place-detail-btn" data-id="{{id}}"
                                data-name="{{name}}" data-address="{{address}}" data-latitude="{{latitude}}"
                                data-longitude="{{longitude}}"
                                data-category="{{category}}" data-profilePath="{{profilePath}}">상세보기
                        </button>
                    </td>
                </tr>
            {{/placePage.content}}
            </tbody>
        </table>
        <div class="admin-pagination">
            <ul class="pagination-admin-container">
                {{#placePage.previousPageNumber}}
                    <li class="admin-page-move">
                        <a href="/admin/place?page={{placePage.previousPageNumber}}" class="admin-page-link"><</a>
                    </li>
                {{/placePage.previousPageNumber}}
                {{^placePage.previousPageNumber}}
                    <li class="admin-page-move disabled">
                        <a href="#" class="admin-page-link"><</a>
                    </li>
                {{/placePage.previousPageNumber}}
                {{#placePage.pageLinks}}
                    <li class="admin-page-move {{#active}}active{{/active}}">
                        <a href="/admin/place?page={{displayNumber}}&size={{placePage.size}}"
                        class="admin-page-link">{{displayNumber}}</a>
                    </li>
                {{/placePage.pageLinks}}
                {{#placePage.nextPageNumber}}
                    <li class="admin-page-move">
                        <a href="/admin/place?page={{placePage.nextPageNumber}}" class="admin-page-link">></a>
                    </li>
                {{/placePage.nextPageNumber}}
                {{^placePage.nextPageNumber}}
                    <li class="admin-page-move disabled">
                        <a href="#" class="admin-page-link">></a>
                    </li>
                {{/placePage.nextPageNumber}}
            </ul>
        </div>
    </div>

    <!-- 방 페이지 -->
    <div class="content-surface">
        <div class="place-admin-search">
            <div class="section-admin-header"><h2>최근 방 조회</h2></div>
            <div class="admin-place-search-controls">
                <form action="/admin/place" method="get" class="admin-place-form">
                    <select name="status" class="admin-place-select">
                        <option value="">전체</option>
                        <option value="OPEN">열림</option>
                        <option value="CLOSED">닫힘</option>
                    </select>
                    <input class="admin-place-input" type="text" name="roomKeyword" placeholder="방을 입력해주세요."
                           value="{{roomKeyword}}">
                    <button class="admin-place-search-btn" type="submit">검색</button>
                </form>
                <form action="/admin/place" method="get">
                    <button class="admin-place-search-btn red" type="submit">초기화</button>
                </form>
            </div>
        </div>
        <table class="data-table">
            <thead>
            <tr class="th-list">
                <th>방 번호</th>
                <th>상태</th>
                <th>장소 번호</th>
                <th>이름</th>
                <th>내용</th>
                <th>최대 인원</th>
                <th>가격</th>
                <th>상세보기</th>
            </tr>
            </thead>

            <tbody>
            {{#roomList.content}}
                <tr class="tr-list">
                    <td>{{roomId}}</td>
                    <td><span class="badge">{{status}}</span></td>
                    <td>{{placeId}}</td>
                    <td>{{name}}</td>
                    <td>{{content}}</td>
                    <td>{{maxCapacity}}</td>
                    <td>{{defaultPrice}}</td>
                    <td>
                        <button class="action-button detail room-update-btn" data-place-id="{{placeId}}"
                                data-room-id="{{roomId}}" data-content="{{content}}" data-max-capacity="{{maxCapacity}}"
                                data-default-price="{{defaultPrice}}"
                                data-name="{{name}}">수정
                        </button>
                        <button class="action-button delete room-delete-btn" data-room-id="{{roomId}}">삭제
                        </button>
                        <button class="action-button update room-detail-btn" data-place-id="{{placeId}}"
                                data-room-id="{{roomId}}"
                                data-name="{{name}}" data-content="{{content}}" data-max-capacity="{{maxCapacity}}"
                                data-default-price="{{defaultPrice}}"
                                data-status="{{status}}" data-room-image-path="{{roomImagePath}}">상세보기
                        </button>
                    </td>
                </tr>
            {{/roomList.content}}
            </tbody>
        </table>
        <div class="admin-pagination">
            <ul class="pagination-admin-container">
                {{#roomList.previousPageNumber}}
                    <li class="admin-page-move">
                        <a href="/admin/place?page={{roomList.previousPageNumber}}" class="admin-page-link"><</a>
                    </li>
                {{/roomList.previousPageNumber}}
                {{^roomList.previousPageNumber}}
                    <li class="admin-page-move disabled">
                        <a href="#" class="admin-page-link"><</a>
                    </li>
                {{/roomList.previousPageNumber}}
                {{#roomList.pageLinks}}
                    <li class="admin-page-move {{#active}}active{{/active}}">
                        <a href="/admin/place?page={{displayNumber}}&size={{roomList.size}}"
                        class="admin-page-link">{{displayNumber}}</a>
                    </li>
                {{/roomList.pageLinks}}
                {{#roomList.nextPageNumber}}
                    <li class="admin-page-move">
                        <a href="/admin/place?page={{roomList.nextPageNumber}}" class="admin-page-link">></a>
                    </li>
                {{/roomList.nextPageNumber}}
                {{^roomList.nextPageNumber}}
                    <li class="admin-page-move disabled">
                        <a href="#" class="admin-page-link">></a>
                    </li>
                {{/roomList.nextPageNumber}}
            </ul>
        </div>
    </div>

</main>

<!-- 장소 -->
<!-- 생성 모달 -->
<div class="modal-overlay" id="place-create-modal">
    <div class="modal-card">
        <div class="place-modal-header">
            <h2>장소 생성</h2>
        </div>

        <div class="modal-input-box">
            <div class="input-label">
                <span class="data-label">장소 명</span>
                <input type="text" class="data-value" id="place-name" placeholder="장소명을 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">주소</span>
                <input type="text" class="data-value" id="place-address" placeholder="주소를 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">위도</span>
                <input type="text" class="data-value" id="place-latitude" placeholder="위도를 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">경도</span>
                <input type="text" class="data-value" id="place-longitude" placeholder="경도를 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">카테고리</span>
                <select class="data-value" id="place-category" required>
                    <option VALUE="">선택하세요</option>
                    <option VALUE="PARTY">PARTY</option>
                    <option VALUE="STUDY">STUDY</option>
                    <option VALUE="PRACTICE">PRACTICE</option>
                </select>
            </div>
            <div class="input-label">
                <span class="data-label">장소 이미지 첨부</span>
                <input type="file" class="form-control" id="place-profileImage" name="profileImage"
                       accept="image/*">
                <small class="form-text text-muted mt-1">이미지 파일만 업로드 가능합니다(JPG, PNG, GIF)</small>
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-confirm btn-blue" onclick="savePlaceModal()">생성</button>
            <button type="button" class="btn-confirm btn-red" onclick="closePlaceModal()">닫기</button>
        </div>
    </div>
</div>

<!-- 장소 -->
<!-- 수정 모달 -->
<div class="modal-overlay" id="place-update-modal">
    <div class="modal-card">
        <div class="place-modal-header">
            <h2>장소 수정</h2>
        </div>

        <div class="modal-input-box">
            <div class="data-row">
                <span class="data-label">장소 번호</span>
                <span class="data-value" id="update-place-id"></span>
            </div>
            <div class="input-label">
                <span class="data-label">장소 명</span>
                <input type="text" class="data-value" id="update-place-name" placeholder="장소명을 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">카테고리</span>
                <select class="data-value" id="update-place-category" required>
                    <option VALUE="">선택하세요</option>
                    <option VALUE="PARTY">PARTY</option>
                    <option VALUE="STUDY">STUDY</option>
                    <option VALUE="PRACTICE">PRACTICE</option>
                </select>
            </div>
            <div class="input-label">
                <span class="data-label">장소 이미지 첨부</span>
                <input type="file" class="form-control" id="update-place-profileImage" name="profileImage"
                       accept="image/*">
            </div>
            <div>
                <small class="form-text text-muted mt-1">이미지 파일만 업로드 가능합니다(JPG, PNG, GIF)</small>
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-confirm btn-blue" onclick="updatePlaceModal()">수정 완료</button>
            <button type="button" class="btn-confirm btn-red" onclick="closePlaceModal()">닫기</button>
        </div>
    </div>
</div>
<!-- 장소 -->
<!-- 상세보기 모달 -->
<div class="modal-overlay" id="place-detail-modal">
    <div class="modal-card">
        <div class="place-modal-header">
            <h2>장소 상세 정보</h2>
        </div>

        <div class="modal-input-box">
            <div class="data-row">
                <span class="data-label">장소 번호</span>
                <span class="data-value" id="detail-place-id"></span>
            </div>
            <div class="data-row">
                <span class="data-label">이름</span>
                <span class="data-value" id="detail-place-name"></span>
            </div>
            <div class="data-row">
                <span class="data-label">주소</span>
                <span class="data-value" id="detail-place-address"></span>
            </div>
            <div class="data-row">
                <span class="data-label">위도</span>
                <span class="data-value" style="color: var(--point-color);" id="detail-place-latitude"></span>
            </div>
            <div class="data-row">
                <span class="data-label">경도</span>
                <span class="data-value" style="color: var(--point-color);" id="detail-place-longitude"></span>
            </div>
            <div class="data-row">
                <span class="data-label">카테고리</span>
                <span class="data-value" style="color: var(--point-color);" id="detail-place-category"></span>
            </div>
            <div class="data-row">
                <span class="data-label">방 이미지</span>
            </div>
            <div class="data-row">
                <img src="" alt="" class="data-image" id="detail-place-profileImage">
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-confirm btn-blue" onclick="closePlaceModal()">확인</button>
        </div>
    </div>
</div>


<!-- 방  -->
<!-- 생성 모달 -->
<div class="modal-overlay" id="room-create-modal">
    <div class="modal-card">
        <div class="place-modal-header">
            <h2>방 생성</h2>
        </div>

        <div class="modal-input-box">
            <div class="input-label">
                <span class="data-label">장소 번호</span>
                <input type="text" class="data-value" id="room-place-id" placeholder="장소 번호를 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">방 이름</span>
                <input type="text" class="data-value" id="room-name" placeholder="방 이름을 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">내용</span>
                <textarea type="text" class="data-value" id="room-content" placeholder="내용을 입력해주세요."
                          required></textarea>
            </div>
            <div class="input-label">
                <div class="input-label-flex">
                    <div>
                        <span class="data-label">최대 인원</span>
                        <input type="text" class="data-value" id="room-max-capacity" placeholder="최대 인원을 입력해주세요."
                               required>
                    </div>
                    <div>
                        <span class="data-label">기본 가격</span>
                        <input type="text" class="data-value" id="room-default-price" placeholder="기본 가격을 입력해주세요."
                               required>
                    </div>
                </div>
            </div>
            <div class="input-label">
                <span class="data-label">상태</span>
                <select class="data-value" id="room-status" required>
                    <option VALUE="">선택하세요</option>
                    <option VALUE="OPEN">OPEN</option>
                    <option VALUE="CLOSED">CLOSED</option>
                    <option VALUE="CANCELED">CANCELED</option>
                </select>
            </div>
            <div class="input-label">
                <span class="data-label">방 이미지 첨부</span>
                <input type="file" class="form-control" id="room-room-image" name="roomImage" accept="image/*">
            </div>
            <div>
                <small class="form-text text-muted mt-1">이미지 파일만 업로드 가능합니다(JPG, PNG, GIF)</small>
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-confirm btn-blue" onclick="saveRoomModal()">생성</button>
            <button type="button" class="btn-confirm btn-red" onclick="closeRoomModal()">닫기</button>
        </div>
    </div>
</div>

<!-- 방  -->
<!-- 수정 모달 -->
<div class="modal-overlay" id="room-update-modal">
    <div class="modal-card">
        <div class="place-modal-header">
            <h2>방 수정</h2>
        </div>

        <div class="modal-input-box">
            <div class="data-row">
                <span class="data-label">방 번호</span>
                <span class="data-value" id="update-room-id"></span>
            </div>
            <div class="data-row">
                <span class="data-label">장소 번호</span>
                <span class="data-value" id="update-room-place-id"></span>
            </div>
            <div class="input-label">
                <span class="data-label">방 이름</span>
                <input type="text" class="data-value" id="update-room-name" placeholder="방 이름을 입력해주세요." required>
            </div>
            <div class="input-label">
                <span class="data-label">내용</span>
                <textarea class="data-value" id="update-room-content"
                          placeholder="내용을 입력해주세요."></textarea>
            </div>
            <div class="input-label">
                <span class="data-label">최대 인원</span>
                <input type="text" class="data-value" id="update-room-max-capacity" placeholder="최대 인원을 입력해주세요."
                       required>
            </div>
            <div class="input-label">
                <span class="data-label">기본 가격</span>
                <input type="text" class="data-value" id="update-room-default-price" placeholder="기본 가격을 입력해주세요."
                       required>
            </div>
            <div class="input-label">
                <span class="data-label">상태</span>
                <select class="data-value" id="update-room-status" required>
                    <option VALUE="">선택하세요</option>
                    <option VALUE="OPEN">OPEN</option>
                    <option VALUE="CLOSED">CLOSED</option>
                    <option VALUE="CANCELED">CANCELED</option>
                </select>
            </div>
            <div class="input-label">
                <span class="data-label">방 이미지 첨부</span>
                <input type="file" class="form-control" id="update-room-room-image" name="roomImage"
                       accept="image/*">
            </div>
            <div>
                <small class="form-text text-muted mt-1">이미지 파일만 업로드 가능합니다(JPG, PNG, GIF)</small>
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-confirm btn-blue" onclick="updateRoomModal()">수정 완료</button>
            <button type="button" class="btn-confirm btn-red" onclick="closeRoomModal()">닫기</button>
        </div>
    </div>
</div>

<!-- 방 -->
<!-- 상세보기 모달 -->
<div class="modal-overlay" id="room-detail-modal">
    <div class="modal-card">
        <div class="place-modal-header">
            <h2>방 상세 정보</h2>
        </div>

        <div class="modal-input-box">
            <div class="data-row">
                <span class="data-label">방 번호</span>
                <span class="data-value" id="detail-room-id"></span>
            </div>
            <div class="data-row">
                <span class="data-label">장소 번호</span>
                <span class="data-value" id="detail-room-place-id"></span>
            </div>
            <div class="data-row">
                <span class="data-label">이름</span>
                <span class="data-value" id="detail-room-name"></span>
            </div>
            <div class="data-row">
                <span class="data-label">내용</span>
                <span class="data-value" style="color: var(--point-color);" id="detail-room-content"></span>
            </div>
            <div class="data-row">
                <span class="data-label">최대 인원</span>
                <span class="data-value" style="color: var(--point-color);" id="detail-room-max-capacity"></span>
            </div>
            <div class="data-row">
                <span class="data-label">기본 가격</span>
                <span class="data-value" style="color: var(--point-color);" id="detail-room-default-price"></span>
            </div>
            <div class="data-row">
                <span class="data-label">상태</span>
                <span class="data-value" style="color: var(--point-color);" id="detail-room-status"></span>
            </div>

            <div class="data-row">
                <span class="data-label">방 이미지</span>
            </div>
            <div class="data-row">
                <img src="" alt="" class="data-image" id="detail-room-room-image">
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-confirm btn-blue" onclick="closeRoomModal()">확인</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const placeCreateBtn = document.getElementById("place-create-btn");
        const placeUpdateBtns = document.querySelectorAll(".place-update-btn");
        const placeDeleteBtns = document.querySelectorAll(".place-delete-btn");
        const placeDetailBtns = document.querySelectorAll(".place-detail-btn");
        const placeCreateModal = document.getElementById("place-create-modal");
        const placeUpdateModal = document.getElementById("place-update-modal");
        const placeDetailModal = document.getElementById("place-detail-modal");

        placeCreateBtn.addEventListener('click', () => {
            placeCreateModal.style.display = 'flex';
        });

        placeUpdateBtns.forEach(button => {
            button.addEventListener('click', () => {
                const id = button.getAttribute('data-id');
                const name = button.getAttribute('data-name');
                const category = button.getAttribute('data-category')
                const profilePath = button.getAttribute('data-profilePath');

                placeUpdateModal.style.display = 'flex';

                document.getElementById("update-place-id").textContent = id;
                document.getElementById("update-place-name").value = name;
                document.getElementById("update-place-category").value = category;
                document.getElementById("update-place-profileImage").value = profilePath;
            })
        });

        placeDetailBtns.forEach(button => {
            button.addEventListener('click', () => {
                const id = button.getAttribute('data-id');
                const name = button.getAttribute('data-name');
                const address = button.getAttribute('data-address');
                const latitude = button.getAttribute('data-latitude');
                const longitude = button.getAttribute('data-longitude');
                const category = button.getAttribute('data-category');
                const profileImage = button.getAttribute('data-profilePath');

                placeDetailModal.style.display = 'flex';

                document.getElementById("detail-place-id").textContent = id;
                document.getElementById("detail-place-name").textContent = name;
                document.getElementById("detail-place-address").textContent = address;
                document.getElementById("detail-place-latitude").textContent = latitude;
                document.getElementById("detail-place-longitude").textContent = longitude;
                document.getElementById("detail-place-category").textContent = category;
                document.getElementById("detail-place-profileImage").src = profileImage || '/default-image.png';
            })
        });


        placeDeleteBtns.forEach(button => {
            button.addEventListener('click', async () => {
                const id = button.getAttribute('data-id');

                const confirmDelete = confirm('정말로 삭제하시겠습니까?');
                if (!confirmDelete) return;

                try {
                    const response = await fetch(`/api/admin/places/${id}`, {
                        method: 'DELETE',
                        headers: {
                            ...getCsrfHeaders()
                        }
                    });

                    if (response.ok) {
                        alert("삭제되었습니다.");
                        location.reload();
                    }

                } catch (err) {
                    console.error(err);
                }
            });
        });
    });

    // 저장 모달
    async function savePlaceModal() {
        const formData = new FormData();

        formData.append("name", document.getElementById("place-name").value);
        formData.append("address", document.getElementById("place-address").value);
        formData.append("latitude", document.getElementById("place-latitude").value);
        formData.append("longitude", document.getElementById("place-longitude").value);
        formData.append("category", document.getElementById("place-category").value);

        const imageInput = document.getElementById("place-profileImage");
        if (imageInput.files.length > 0) {
            formData.append("profileImage", imageInput.files[0]);
        }

        const response = await fetch(`/api/admin/places/create`, {
            method: "POST",
            body: formData,
            headers: {
                ...getCsrfHeaders()
            }
        });

        if (!response.ok) {
            return;
        }

        closePlaceModal();
        location.reload();
    }

    // 수정 모달
    async function updatePlaceModal() {
        const id = document.getElementById("update-place-id").textContent;

        const formData = new FormData();

        formData.append("name", document.getElementById("update-place-name").value);
        formData.append("category", document.getElementById("update-place-category").value);

        const imageInput = document.getElementById("update-place-profileImage");
        if (imageInput.files.length > 0) {
            formData.append("profileImage", imageInput.files[0]);
        }

        const response = await fetch(`/api/admin/places/${id}`, {
            method: "PUT",
            body: formData,
            headers: {
                ...getCsrfHeaders()
            }
        });

        closePlaceModal();
        location.reload();
    }

    function closePlaceModal() {
        const createModal = document.getElementById('place-create-modal');
        const updateModal = document.getElementById('place-update-modal');
        const detailModal = document.getElementById('place-detail-modal');
        document.getElementById("place-name").value = "";
        document.getElementById("place-address").value = "";
        document.getElementById("place-latitude").value = "";
        document.getElementById("place-longitude").value = "";
        document.getElementById("place-category").value = "";
        document.getElementById("place-profileImage").value = "";

        createModal.style.display = 'none';
        updateModal.style.display = 'none';
        detailModal.style.display = 'none';
    }

    // ========
    //  방 모달
    // ========

    document.addEventListener('DOMContentLoaded', () => {
        const roomCreateBtn = document.getElementById("room-create-btn");
        const roomUpdateBtns = document.querySelectorAll(".room-update-btn");
        const roomDeleteBtns = document.querySelectorAll(".room-delete-btn");
        const roomDetailBtns = document.querySelectorAll(".room-detail-btn");
        const roomCreateModal = document.getElementById("room-create-modal");
        const roomUpdateModal = document.getElementById("room-update-modal");
        const roomDetailModal = document.getElementById("room-detail-modal");

        roomCreateBtn.addEventListener('click', () => {
            roomCreateModal.style.display = 'flex';
        });

        roomUpdateBtns.forEach(button => {
            button.addEventListener('click', () => {
                const placeId = button.getAttribute('data-place-id');
                const id = button.getAttribute('data-room-id');
                const name = button.getAttribute('data-name');
                const content = button.getAttribute('data-content');
                const maxCapacity = button.getAttribute('data-max-capacity');
                const defaultPrice = button.getAttribute('data-default-price');
                console.log(maxCapacity);
                console.log(defaultPrice);

                roomUpdateModal.style.display = 'flex';

                document.getElementById("update-room-place-id").textContent = placeId;
                document.getElementById("update-room-id").textContent = id;
                document.getElementById("update-room-name").value = name;
                document.getElementById("update-room-content").value = content;
                document.getElementById("update-room-max-capacity").value = maxCapacity;
                document.getElementById("update-room-default-price").value = defaultPrice;
            })
        });

        roomDetailBtns.forEach(button => {
            button.addEventListener('click', () => {
                const placeId = button.getAttribute('data-place-id');
                const id = button.getAttribute('data-room-id');
                const name = button.getAttribute('data-name');
                const content = button.getAttribute('data-content');
                const maxCapacity = button.getAttribute('data-max-capacity');
                const defaultPrice = button.getAttribute('data-default-price');
                const status = button.getAttribute('data-status');
                const roomImagePath = button.getAttribute('data-room-image-path');

                roomDetailModal.style.display = 'flex';

                document.getElementById("detail-room-place-id").textContent = placeId;
                document.getElementById("detail-room-id").textContent = id;
                document.getElementById("detail-room-name").textContent = name;
                document.getElementById("detail-room-content").textContent = content;
                document.getElementById("detail-room-max-capacity").textContent = maxCapacity;
                document.getElementById("detail-room-default-price").textContent = defaultPrice;
                document.getElementById("detail-room-status").textContent = status;
                document.getElementById("detail-room-room-image").src = roomImagePath || '/default-image.png';
            })
        });


        roomDeleteBtns.forEach(button => {
            button.addEventListener('click', async () => {
                const roomId = button.getAttribute('data-room-id');

                const confirmDelete = confirm('정말로 삭제하시겠습니까?');
                if (!confirmDelete) return;

                try {
                    const response = await fetch(`/api/admin/rooms/${roomId}`, {
                        method: 'DELETE',
                        headers: {
                            ...getCsrfHeaders()
                        }
                    });

                    if (response.ok) {
                        alert("삭제되었습니다.");
                        location.reload();
                    } else {
                        alert("예약중인 방이 있습니다.")
                    }

                } catch (err) {
                    console.error(err);
                }
            });
        });
    });

    // 저장 모달
    async function saveRoomModal() {
        const formData = new FormData();

        formData.append("placeId", document.getElementById("room-place-id").value);
        formData.append("name", document.getElementById("room-name").value);
        formData.append("content", document.getElementById("room-content").value);
        formData.append("maxCapacity", document.getElementById("room-max-capacity").value);
        formData.append("defaultPrice", document.getElementById("room-default-price").value);
        formData.append("status", document.getElementById("room-status").value);

        const imageInput = document.getElementById("room-room-image");
        if (imageInput.files.length > 0) {
            formData.append("roomImage", imageInput.files[0]);
        }

        const response = await fetch(`/api/admin/rooms/create`, {
            method: "POST",
            body: formData,
            headers: {
                ...getCsrfHeaders()
            }
        });

        if (!response.ok) {
            return;
        }

        closeRoomModal();
        location.reload();
    }

    // 수정 모달
    async function updateRoomModal() {
        const roomId = document.getElementById("update-room-id").textContent;

        const formData = new FormData();

        formData.append("name", document.getElementById("update-room-name").value);
        formData.append("content", document.getElementById("update-room-content").value);
        formData.append("maxCapacity", document.getElementById("update-room-max-capacity").value);
        formData.append("defaultPrice", document.getElementById("update-room-default-price").value);
        formData.append("status", document.getElementById("update-room-status").value);

        const imageInput = document.getElementById("update-room-room-image");
        if (imageInput.files.length > 0) {
            formData.append("roomImage", imageInput.files[0]);
        }

        const response = await fetch(`/api/admin/rooms/${roomId}`, {
            method: "PUT",
            body: formData,
            headers: {
                ...getCsrfHeaders()
            }
        });

        closeRoomModal();
        location.reload();
    }

    function closeRoomModal() {
        const createModal = document.getElementById('room-create-modal');
        const updateModal = document.getElementById('room-update-modal');
        const detailModal = document.getElementById('room-detail-modal');
        document.getElementById("room-place-id").value = "";
        document.getElementById("room-name").value = "";
        document.getElementById("room-content").value = "";
        document.getElementById("room-max-capacity").value = "";
        document.getElementById("room-default-price").value = "";
        document.getElementById("room-room-image").value = "";

        createModal.style.display = 'none';
        updateModal.style.display = 'none';
        detailModal.style.display = 'none';
    }


</script>
</body>
</html></div>