{{> admin/layout/nav}}

<body>

<main>
    <header>
        <h1>환불관리</h1>
    </header>

    <div class="content-surface">
        <div class="section-header">
            <h2>최근 환불 내역</h2>
            <button class="text-link-btn">전체보기</button>
        </div>
        <table class="data-table">
            <thead>
            <tr class="th-list">
                <th>환불번호</th>
                <th>환불상태</th>
                <th>방 이름</th>
                <th>이용자</th>
                <th>결제코드</th>
                <th>결제금액</th>
                <th>이용시간</th>
                <th>환불일</th>
                <th>결제경로</th>
                <th>버튼</th>
            </tr>
            </thead>
            {{#refundList}}
            <tbody>
            <tr class="tr-list">
                <td data-id="{{id}}">{{id}}</td>
                <td><span class="status-badge" data-status="{{displayStatus}}">{{displayStatus}}</span></td>
                <td>{{roomName}}</td>
                <td><strong>{{username}}</strong></td>
                <td>{{paymentKey}}</td>
                <td>{{amount}}원</td>
                <td>{{displayTime}}</td>
                <td>{{createdAt}}</td>
                <td><span class="channel-kakao">{{paymentMethod}}</span></td>
                <td style="display: flex; justify-content: center; gap: 12px;">
                    <button class="action-button detail approve-btn" data-id="{{id}}">승인</button>
                    <button class="action-button delete rejection-btn" data-id="{{id}}">거절</button>
                    <button class="action-button update detail-btn" data-id="{{id}}">상세보기</button>
                </td>
            </tr>
            </tbody>
            {{/refundList}}
        </table>
    </div>

</main>

<!--  ★ modal ★ -->
<div class="modal-overlay" id="modal-detail">
    <div class="modal-card">
        <div class="modal-header">
            <h2>상세 정보</h2>
            <p>예약 및 환불 내역을 확인합니다</p>
        </div>

        <div class="modal-data-box">
            <div class="data-row">
                    <span class="data-label">환불번호</span>
                    <span class="data-value" id="refund-id">1</span>
            </div>
            <div class="data-row">
                <span class="data-label">환불상태</span>
                <span class="data-value" id="refund-status">환불요청</span>
            </div>
            <div class="data-row">
                <span class="data-label">공간명</span>
                <span class="data-value" id="refund-room-name">어울림 루프탑 A</span>
            </div>
            <div class="data-row">
                <span class="data-label">사용자</span>
                <span class="data-value" style="color: var(--point-color);" id="refund-user-name"></span>
            </div>
            <div class="data-row">
                <span class="data-label">결제번호</span>
                <span class="data-value" style="color: var(--point-color);" id="refund-payment-key"></span>
            </div>
            <div class="data-row">
                <span class="data-label">결제금액</span>
                <span class="data-value" style="color: var(--point-color);" id="refund-payment-amount"></span>
            </div>
            <div class="data-row">
                <span class="data-label">이용시간</span>
                <span class="data-value" style="color: var(--point-color);" id="refund-display-time"></span>
            </div>
            <div class="data-row">
                <span class="data-label">환불 생성일</span>
                <span class="data-value" style="color: var(--point-color);" id="refund-created-at"></span>
            </div>
            <div class="data-row">
                <span class="data-label">결제경로</span>
                <span class="data-value" style="color: var(--point-color);" id="refund-payment-method"></span>
            </div>
            <div class="data-row">
                <span class="data-label">사용자 환불사유</span>
                <span class="data-value" style="color: var(--point-color);" id="refund-reason"></span>
            </div>
        </div>

        <div class="modal-actions">
            <button class="btn-confirm btn-blue" onclick="closeDetailModal()">확인</button>
        </div>
    </div>
</div>

<div class="modal-overlay" id="modal-reject" style="margin-top: 50px;">
    <div class="modal-card">
        <div class="modal-header">
            <h2>환불 거절</h2>
            <p>사용자에게 전달할 거절 사유를 적어주세요</p>
        </div>

        <textarea class="modal-textarea" id="admin-reason" placeholder="이유를 입력해주세요 (예: 이용 수칙 위반)"></textarea>

        <div class="modal-actions">
            <button class="btn-confirm btn-red" id="btn-rejection">환불 거절 확정</button>
            <button class="btn-confirm btn-ghost" onclick="closeRejectModal()">돌아가기</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const approveBtn = document.querySelectorAll('.approve-btn');
        const rejectionBtn = document.querySelectorAll('.rejection-btn');
        const detailBtn = document.querySelectorAll('.detail-btn');
        const reasonInput = document.querySelector('.modal-textarea');
        const trList = document.querySelectorAll('.tr-list');

        trList.forEach(tr => {
           const statusBadge = tr.querySelector('.status-badge');
           const status = statusBadge.textContent.trim();

           const approveBtn = tr.querySelector('.approve-btn');
           const rejectionBtn = tr.querySelector('.rejection-btn');

           statusBadge.classList.remove('request', 'detail', 'delete');

           if (status == '환불요청') {
                statusBadge.classList.add('request');
           } else if (status == '환불완료') {
                statusBadge.classList.add('detail');
                if (rejectionBtn) rejectionBtn.style.display = 'none';
                if (approveBtn) approveBtn.style.display = 'none';
           } else {
              statusBadge.classList.add('delete');
              rejectionBtn.style.display = 'none';
              if (rejectionBtn) rejectionBtn.style.display = 'none';
              if (approveBtn) approveBtn.style.display = 'none';
           }
        });

        approveBtn.forEach(btn => {
            btn.addEventListener('click', async() => {
                alert('승인 아이디: ' + btn.dataset.id);

                let id = btn.dataset.id;

                if(!confirm("결제환불 승인 요청을 하시겠습니까?")) {
                    return;
                }

                try {
                    const response = await fetch(`/api/refund/approve/${id}`, {
                        method: 'POST'
                    });

                    if (response.ok) {
                    alert('환불 처리가 완료되었습니다.');
                    location.reload();

                    } else {
                        const errorMsg = await response.text();
                        alert('실패: ' + errorMsg);
                    }

                } catch(error) {
                    console.error(error);
                    alert("환불을 승인하는 도중 오류가 발생했습니다.");
                }

            });
        });

        rejectionBtn.forEach(btn => {
            btn.addEventListener('click', () => {
                openRejectModal(btn.dataset.id);
            });
        });

        detailBtn.forEach(btn => {
            btn.addEventListener('click', () => {
                openDetailModal(btn.dataset.id);
            });
        });

    });

    function openRejectModal(id) {
        const modal = document.getElementById('modal-reject');
        const reasonInput = document.getElementById('admin-reason');
        const btnConfirm = document.querySelector('#btn-rejection');

        modal.style.display = 'flex';

        btnConfirm.onclick = async () => {
            if (!reasonInput.value || reasonInput.value.trim() === "") {
                alert('거절 사유를 입력해주세요.');
                reasonInput.focus();
                return;
            }

            try {
                const response = await fetch(`/api/refund/rejection/${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        reason: reasonInput.value
                    })
                });

                if (response.ok) {
                    alert('거절 처리가 완료되었습니다.');
                    location.reload();

                } else {
                    const errorMsg = await response.text();
                    alert('실패: ' + errorMsg);
                }
            } catch (error) {
                console.error(error);
                alert('서버 전송 중 오류가 발생했습니다.');
            }
        };
    }

    function closeRejectModal() {
         const modal = document.getElementById('modal-reject');

         modal.style.display = 'none';
    }

    async function openDetailModal(id) {
            const modal = document.getElementById('modal-detail');
            const statusEl = document.getElementById('refund-status');

            modal.style.display = 'flex';

            try {
                const response = await fetch(`/admin/refund/detail/${id}`);

                if(!response.ok) {
                    alert('상세 정보를 불러오지 못했습니다.');
                    return;
                }

                const data = await response.json();

                document.getElementById('refund-id').innerText = data.id;
                document.getElementById('refund-status').innerText = data.displayStatus;
                document.getElementById('refund-room-name').innerText = data.roomName;
                document.getElementById('refund-user-name').innerText = data.username;
                document.getElementById('refund-payment-key').innerText = data.paymentKey;
                document.getElementById('refund-payment-amount').innerText = data.amount.toLocaleString();
                document.getElementById('refund-display-time').innerText = data.displayTime;
                document.getElementById('refund-created-at').innerText = data.createdAt;
                document.getElementById('refund-payment-method').innerText = data.paymentMethod;
                document.getElementById('refund-reason').innerText = data.reason;

            } catch(error) {
                console.error(error);
                alert('상세 정보를 불러오는 중 오류가 발생했습니다.');
            }
       }

    function closeDetailModal() {
         const modal = document.getElementById('modal-detail');

         modal.style.display = 'none';
    }



</script>
</body>
</html>