<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어울림 공간대여 서비스</title>

    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/layout/mapHeader.css">
</head>
<body>
<header class="app-header">
    <div class="header-inner">
        <div class="header-left">
            <div class="logo">
                <a href="/"><span>E</span>oullim</a>
            </div>
            <div class="mode-toggle">
                <a href="/" class="toggle-btn">홈페이지</a>
                <a href="/map" class="toggle-btn map active">지도</a>
            </div>
        </div>

        <nav class="nav">
            <a href="#">지도</a>
            <a href="#">공간대여</a>
            <a href="#">이벤트</a>
            <a href="#">문의</a>
            <a href="/admin/refund">관리자</a>
        </nav>

        <div class="header-auth">
            {{^sessionUser}}
                <a href="/auth/login">로그인</a>
                <span class="divider">|</span>
                <a href="/auth/signup">회원가입</a>
            {{/sessionUser}}
            {{#sessionUser}}
                <a href="/user/verify-password">회원정보</a>
                <span class="divider">|</span>
                <a href="/auth/logout">로그아웃</a>
            {{/sessionUser}}
        </div>
    </div>
</header>