<link rel="stylesheet" href="/css/layout/sideBar.css">

<!-- 왼쪽 영역 -->
<aside class="mypage-sidebar">
    <h2>마이페이지</h2>
    <p class="welcome"><span>{{user.name}}</span>님, 안녕하세요</p>
    <hr/>

    <section class="menu-section">
        <h3>예약정보</h3>
        <ul>
            <li><span><a href="/user/bookings">예약내역</a></span></li>
        </ul>
    </section>
    <hr/>

    <section class="menu-section">
        <h3>활동정보</h3>
        <ul>
            <li><span><a href="/user/reviews">리뷰</a></span></li>
            <li><a href="/user/qna">Q&A</a></li>
        </ul>
    </section>
    <hr/>
</aside>
