/* --- 메인 콘텐츠 영역 (화면 전체 확장) --- */
/*main {*/
/*    margin-left: 280px;*/
/*    padding: 40px 20px;*/
/*    width: auto;*/
/*    flex-grow: 1;*/
/*    box-sizing: border-box;*/
/*}*/

td.profile-path {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.place-table td {
    padding: 24px 16px;
    font-size: 15px;
    border-bottom: 1px solid var(--line-subs);
    color: var(--text-secondary);
}
