* {
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
}

body {
    margin: 0;
    background: #f0f2f5;
    overflow-x: hidden;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    padding-bottom: 100px;
    background: #f0f2f5;
}

.password-form {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
    align-items: center;

    margin: auto;
}
.password-form h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #111827;
}

.password-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.password-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #4f46e5;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.password-form button:hover {
  background-color: #4338ca;
}