<link rel="stylesheet" href="/css/admin/layout/nav.css">
<link rel="stylesheet" href="/css/admin/qna/qna.css">
<div class="admin-layout">
    {{> admin/layout/nav}}
    <main class="admin-main">
        <div class="qna-container">
            <header>
                <h1>QnA 관리 및 답글 작성</h1>
            </header>
            {{#qnaPage.content}}
                <div class="qna-list-item">
                    <h4><a href="/admin/qnas/{{id}}">{{title}}</a></h4>
                    <p>
                        작성자 : {{name}}
                        | 작성일 : {{createdAt}}
                        | 조회수 : {{viewCount}}
                    </p>
                </div>
            {{/qnaPage.content}}
            <div class="qna-card">
                <form class="qna-form" action="/admin/qnas" method="get">
                    <input type="text" name="keyword" placeholder="검색어를 입력해주세요." value="{{keyword}}">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" value="{{qnaPage.size}}">
                    <div class="qna-btn-group" style="justify-content: flex-end">
                        <button class="qna-btn qna-btn-primary" type="submit">검색</button>
                        <a href="/admin/qnas" class="qna-btn qna-btn-secondary">초기화</a>
                    </div>
                </form>
            </div>
            <div class="pagination">
                {{#qnaPage.previousPageNumber}}
                    <a href="/admin/qnas?page={{qnaPage.previousPageNumber}}&size={{qnaPage.size}}">Previous</a>
                {{/qnaPage.previousPageNumber}}
                {{^qnaPage.previousPageNumber}}
                    <a href="#">Previous</a>
                {{/qnaPage.previousPageNumber}}
                {{#qnaPage.pageLinks}}
                    <a href="/admin/qnas?page={{displayNumber}}&size={{qnaPage.size}}">{{displayNumber}}</a>
                {{/qnaPage.pageLinks}}
                {{#qnaPage.nextPageNumber}}
                    <a href="/admin/qnas?page={{qnaPage.nextPageNumber}}&size={{qnaPage.size}}">Next</a>
                {{/qnaPage.nextPageNumber}}
                {{^qnaPage.nextPageNumber}}
                    <a href="#">Next</a>
                {{/qnaPage.nextPageNumber}}
            </div>
        </div>
    </main>
</div>