<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Console</title>

    <link rel="stylesheet" href="/css/admin/layout/nav.css"/>
    <link rel="stylesheet" href="/css/admin/user/user.css">
    <link rel="stylesheet" href="/css/admin/place/place.css">

</head>

<nav>
    <div class="nav-brand">Console</div>
    <ul class="nav-menu">
        <li class="nav-item active">
            <a href="/admin/dashboard" class="nav-a">📊 대시보드</a>
        </li>
        <li class="nav-item">
            <a href="/admin/place" class="nav-a">🏠 장소/방 관리</a>
        </li>
        <li class="nav-item">🫥 회원 관리</li>
        <li class="nav-item">🧾 결제 내역</li>
        <li class="nav-item">📫 Q&A</li>
        <li class="nav-item">⭐ 리뷰 내역</li>
        <li class="nav-item">🎧 고객 지원</li>
    </ul>
</nav>