<link rel="stylesheet" href="/css/admin/layout/nav.css"/>
{{> layout/header}}
<div>
    <div>관리자 페이지</div>
    <div>
        <ul>
            <li>
                <a>사용자 관리</a>
            </li>
            <li>
                <div>
                    공지사항
                    <a href="/notices/new">공지사항 작성</a>
                </div>

            </li>
            <li>
                <a>알림 세부 사항</a>
            </li>
        </ul>
    </div>
    <div>

    </div>

</div>
{{> layout/footer}}