<link rel="stylesheet" href="/css/user/verify-password.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<body>
<div class="auth-wrapper">
    <form id="findPasswordForm" onsubmit="return false">
        <h2>비밀번호 찾기</h2>

        <input type="text" name="userId" placeholder="아이디 입력" id="userId" required/>
        <input type="email" name="email" placeholder="이메일 입력" id="email" required/>

        <button type="button" id="sendCodeBtn">인증번호 발송</button>

        <hr>

        <input type="text" name="verifyPasswordCode" placeholder="인증번호 입력" id="verifyPasswordCode" disabled required/>
        <button type="button" id="verifyCodeBtn">인증번호 확인</button>

        <p id="message" style="color: red"></p>
    </form>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const userIdInput = document.getElementById("userId");
        const emailInput = document.getElementById("email");
        const sendCodeBtn = document.getElementById("sendCodeBtn");
        const verifyCodeInput = document.getElementById("verifyPasswordCode")
        const verifyCodeBtn = document.getElementById("verifyCodeBtn");
        const messages = document.getElementById("message");

        sendCodeBtn.addEventListener("click", async () => {
            const userId = userIdInput.value.trim();
            const email = emailInput.value.trim();

            if (!userId || !email) {
                alert("아이디와 이메일을 모두 입력해주세요.");
                return;
            }

            try {
                const res = await fetch("/auth/find-password/send-code", {
                    method: "POST",
                    headers: { "Content_Type": "application/x-www-form-urlencoded"},
                    body: new URLSearchParams({userId, email})
                });

                if (!res.ok) {
                    const data = await res.json();
                    messages.textContent = data.message || "인증번호가 실패했습니다.";
                    return;
                }
                messages.style.color = "green";
                messages.textContent = "인증번호가 전송되었습니다. 이메일을 확인해주세요.";

                verifyCodeInput.disabled = false;
                verifyCodeBtn.disabled = false;
            } catch (error) {
                alert("오류가 발생했습니다. 다시 시도해주세요.");
                console.error(error);
            }
        });

        verifyCodeBtn.addEventListener("click", async () => {
            const userId = userIdInput.value.trim();
            const email = emailInput.value.trim();
            const code = verifyCodeInput.value.trim();

            if (!code) {
                alert("인증번호를 입력해주세요.");
                verifyCodeInput.focus();
                return;
            }

            try {
                const res = await fetch("/auth/password/verify-code", {
                    method: "POST",
                    headers: { "ContentType": "application/x-form-urlencoded" },
                    body: new URLSearchParams({ userId, email, code })
                });

                if (!res.ok) {
                    const data = await res.json();
                    messages.style.color = "red";
                    messages.textContent = data.message || "인증번호가 일치하지 않습니다.";
                    verifyCodeInput.value = "";
                    verifyCodeInput.focus();
                    return;
                }

                messages.style.color = "green";
                messages.textContent = "인증에 성공했습니다. 비밀번호 변경 페이지로 이동합니다.";

                setTimeout(() => {
                    window.location.href = "/auth/password/reset";
                }, 2000);
            } catch(error) {
                alert("오류가 발생했습니다. 다시 시도해주세요.");
                console.error(error);
            }
        });
    });
</script>

</body>
{{> layout/footer}}