<link rel="stylesheet" href="/css/user/loginStyle.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<body>
<main>
    <div class="container">
        <div class="inner-wrapper">
            <div class="inner-left">
                <img src="/img/user/login.png" alt="">
            </div>
            <div class="inner-right">
                <form action="/auth/login" method="post">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="form-group">
                        <label>아이디</label>
                        <input type="text" placeholder="아이디를 입력해주세요" name="loginId" id="loginId">
                    </div>

                    <div class="form-group">
                        <label>비밀번호</label>
                        <input type="password" placeholder="비밀번호를 입력해주세요" name="password" id="password">
                    </div>
                    <button type="submit" id="signupBtn">로그인</button>
                    <div class="social-login">
                        <button type="button" class="kakao-login">
                            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=cb12cabc8d7a8183c2b15085e999e641&redirect_uri=http://localhost:8080/user/kakao">
                                <img src="/img/user/kakao.png"> 카카오로 로그인
                            </a>
                        </button>
                        <button type="button" class="naver-login">
                            <img src="/img/user/naver.png"> 네이버로 로그인
                        </button>
                    </div>
                    <div class="register-box">
                        <a href="/api/users/find-login-id">아이디 찾기</a> | <a href="/auth/find-password">비밀번호 찾기</a> | <a href="/auth/signup">회원가입</a>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{{#loginError}}
    <script>
        alert(`{{loginError}}`);
    </script>
{{/loginError}}
<script>
    const loginForm = document.querySelector("form");
    const csrfToken = document.querySelector('meta[name="_csrf"]').content;

    loginForm.addEventListener("submit", function (e) {
        // alert(csrfToken);

        const id = document.querySelector("#loginId").value.trim();
        const pw = document.querySelector("#password").value.trim();

        if (!id || !pw) {
            alert("아이디 또는 비밀번호를 입력해주세요.");
            e.preventDefault();
            return;
        }

        // CSRF hidden input 생성
        const hidden = document.createElement('input');
        hidden.type = 'hidden';
        hidden.name = '_csrf';
        hidden.value = csrfToken;

        loginForm.appendChild(hidden);
    });
</script>
</body>
