<link rel="stylesheet" href="/css/user/verify-password.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<body>
<div class="auth-wrapper">
    <form class="password-form" >
<!--        action="/verify-password" method="POST"-->
        <h2>비밀번호 인증</h2>
        <input type="password" name="password" placeholder="비밀번호 입력" id="password"/>
        <button type="button" id="passwordBtn">확인</button>
    </form>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const passwordInput = document.getElementById("password");
        const passwordBtn = document.getElementById("passwordBtn");

        passwordBtn.addEventListener('click', async() => {
            if (!passwordInput.value || passwordInput.value.trim() === '') {
                alert("비밀번호를 입력해주세요.");
                passwordInput.focus();
                return;
            }

            try {
                const response = await fetch("/api/verify-password", {
                    method: "POST",
                    headers: {
                        "Content-Type" : "application/json",
                    },
                    body: JSON.stringify({
                        password: passwordInput.value
                    })
                });

                if (!response.ok) {
                    alert("비밀번호가 일치하지 않습니다.");
                    passwordInput.value = "";
                    passwordInput.focus();
                    return;
                }

                location.href = "/user/profile";

            } catch (e) {
                alert("예상치 못한 오류가 발생했습니다.\n 나중에 다시 시도해주세요", e.message);
            }
        });
    })
</script>

</body>
{{> layout/footer}}