<link rel="stylesheet" href="/css/user/profile.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<body>
<div class="mypage-container">

    {{> layout/sideBar}}

    <!-- 오른쪽 메인 영역 -->
    <main class="mypage-main">
        <div class="profile-box">
            <h2>회원정보 관리</h2>

            <!-- 프로필 이미지 -->
            <div class="profile-image">
                <label for="profileUpload" class="profile-label">
                    <img id="profilePreview" src="{{user.profileImage}}">
                    <span class="edit-overlay">변경</span>
                </label>
                <input
                        type="file"
                        id="profileUpload"
                        name="profileImage"
                        accept="image/*"
                        hidden
                />
            </div>

            <p class="username"><span>{{user.name}}</span>님</p>
            {{^isKakaoUser}}
                <div class="info-row">
                    <label class="label">휴대전화</label>
                    <input
                            type="tel"
                            name="phone"
                            class="value-input"
                            value="{{phone}}"
                            readonly
                    />
                </div>

                <div class="info-row">
                    <label class="label">이메일(ID)</label>
                    <input
                            type="email"
                            name="email"
                            class="value-input"
                            value="{{user.email}}"
                            readonly
                    />
                </div>

                <div class="info-row">
                    <label class="label">가입일</label>
                    <input
                            type="email"
                            name="email"
                            class="value-input"
                            value="{{user.createdAt}}"
                            readonly
                    />
                </div>

                <div class="btn-wrapper">
                    <form action="/user/leave" method="POST"
                          onsubmit="return confirm('정말 탈퇴하시겠습니까?')">
<!--                        <label class="label">회원탈퇴</label>-->
                        <button type="submit" class="edit-btn">
                            탈퇴하기
                        </button>
                    </form>
                </div>
            {{/isKakaoUser}}
            {{#sessionUser.canUpdateProfile}}
                {{^isKakaoUser}}

                    <!--                    <form action="/user/profile/edit" method="get">-->
                    <!--                        <button type="submit" class="edit-btn">-->
                    <!--                            회원정보 수정-->
                    <!--                        </button>-->
                    <!--                    </form>-->
                {{/isKakaoUser}}
            {{/sessionUser.canUpdateProfile}}


            {{#isKakaoUser}}
                <div class="kakao-status-wrapper">
                    <span class="kakao-label">카카오 로그인</span>
                    <div class="static-switch">
                        <div class="static-circle"></div>
                    </div>
                </div>
            {{/isKakaoUser}}
        </div>
    </main>
</div>

</body>
{{> layout/footer}}