<link rel="stylesheet" href="/css/user/verify-password.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<body>
<div class="auth-wrapper">
    <form class="password-form" method="POST" action="/auth/password/reset">
        <h2>새 비밀번호 설정</h2>
        <input type="password" name="newPassword" placeholder="비밀번호 입력" id="newPassword"/>
        <span class="password-msg"></span>
        <input type="password" name="confirmPassword" placeholder="새 비밀번호 확인" id="confirmPassword"/>
        <span class="password-msg"></span>
        <button type="submit" id="resetBtn">비밀번호 변경</button>
        <input type="hidden" id="csrfToken" name="_csrf" value="{{csrfToken}}">
    </form>
</div>


<script>

    const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,20}$/;

    document.addEventListener("DOMContentLoaded", () => {
        const newPasswordInput = document.getElementById("newPassword");
        const confirmInput = document.getElementById("confirmPassword");
        const form = document.querySelector(".password-form");

        const successColor = '#10b981';
        const errorColor = '#ef4444';

        // 비밀번호 검사
        newPasswordInput.addEventListener('input', () => {
            const checkMsg = newPasswordInput.nextElementSibling;
            const value = newPasswordInput.value.trim();

            if (!passwordRegex.test(value)) {
                checkMsg.textContent = '문자, 숫자, 특수문자를 포함해야 합니다. 8 ~ 20자';
                checkMsg.style.color = errorColor;
                newPasswordInput.style.borderColor = errorColor;
            } else {
                checkMsg.textContent = '사용 가능한 비밀번호입니다.';
                checkMsg.style.color = successColor;
                newPasswordInput.style.borderColor = successColor;
            }
        });

        // 비밀번호 확인
        confirmInput.addEventListener('input', () => {
            const checkMsg = confirmInput.nextElementSibling;
            if (confirmInput.value === newPasswordInput.value && confirmInput.value !== '') {
                checkMsg.textContent = '비밀번호가 일치합니다.';
                checkMsg.style.color = successColor;
                confirmInput.style.borderColor = successColor;
            } else {
                checkMsg.textContent = '비밀번호가 일치하지 않습니다.';
                checkMsg.style.color = errorColor;
                confirmInput.style.borderColor = errorColor;
            }
        });

        form.addEventListener("submit", (e) => {
            e.preventDefault();

            const csrfToken = document.getElementById("csrfToken").value;


            if (!newPasswordInput.value.trim() || !confirmInput.value.trim()) {
                alert("모든 필드를 입력해주세요.");
                return;
            }
            if (newPasswordInput.value.trim() !== confirmInput.value.trim()) {
                alert("비밀번호가 일치하지 않습니다.");
                newPasswordInput.value = "";
                confirmInput.value = "";
                newPasswordInput.focus();
                return;
            }
            if (!passwordRegex.test(newPasswordInput.value.trim())) {
                alert("문자, 숫자, 특수문자를 포함해야 합니다. 8 ~ 20자")
                newPasswordInput.focus();
                return;
            }

            fetch(form.action, {
                method: form.method,
                headers: {
                    "X-XSRF-TOKEN": csrfToken
                },
                body: new FormData(form),
                credentials: "include"
            })
                    .then(res => {
                        if (res.ok) {
                            alert("비밀번호가 변경되었습니다.");
                            window.location.href = "/auth/login";
                        } else {
                            return res.text().then(text => {throw new Error(text);});
                        }
                    })
                    .catch(err => {
                        alert("비밀번호 변경 중 오류가 발생했습니다.\n" + err.message);
                    });
        });
    });
</script>

</body>
{{> layout/footer}}