<link rel="stylesheet" href="/css/user/verify-password.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<body>
<div class="auth-wrapper">
    <div class="auth-box"> <h2>비밀번호 인증</h2>
        <div class="input-group">
            <input type="password" name="password" placeholder="비밀번호를 입력하세요" id="password"/>
        </div>
        <button type="button" id="passwordBtn">확인</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const passwordInput = document.getElementById("password");
        const passwordBtn = document.getElementById("passwordBtn");

        passwordBtn.addEventListener('click', async() => {

            passwordBtn.disabled = true;
            alert("비밀번호 확인중...");

            if (!passwordInput.value || passwordInput.value.trim() === '') {
                alert("비밀번호를 입력해주세요.");
                passwordInput.focus();
                return;
            }

            try {
                const response = await fetch("/api/verify-password", {
                    method: "POST",
                    headers: {
                        "Content-Type" : "application/json",
                    },
                    body: JSON.stringify({
                        password: passwordInput.value
                    })
                });

                if (!response.ok) {
                    alert("비밀번호 확인에 실패했습니다.");
                    passwordInput.value = "";
                    passwordInput.focus();
                    return;
                }

                const data = await response.json();

                if (data) {
                    alert("회원정보 수정 페이지로 이동합니다.");
                    location.href = "/user/profile";
                } else {
                    alert("비밀번호가 일치하지 않습니다. 다시 입력해주세요.");
                    passwordInput.value = "";
                    passwordInput.focus();
                }

            } catch (e) {
                alert("예상치 못한 오류가 발생했습니다.\n 나중에 다시 시도해주세요", e.message);
            }
        });
    })
</script>

</body>
{{> layout/footer}}