<link rel="stylesheet" href="/css/user/verify-password.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<body>
<form class="password-form" action="/verify-password" method="POST">
    <h2>비밀번호 인증</h2>
    <input type="password" name="password" placeholder="비밀번호 입력" required />
    <button type="submit">확인</button>
</form>
</body>
{{> layout/footer}}