<link rel="stylesheet" href="/css/qna/qna.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="qna-container">
    <div class="qna-card">
        <div class="qna-meta">
            <span><b>작성자</b> {{qna.name}}</span>
            <span><b>조회수</b> {{qna.viewCount}}</span>
        </div>

        <div class="qna-title">
            <h2><b>{{qna.title}}</b></h2>
        </div>

        <div class="qna-content">
            {{qna.content}}
        </div>

        {{#commentList}}
            <div class="comment-box">
                <div class="comment-item">

                    <div class="comment-header">
                        <span>{{name}}</span>
                        <small>{{createdAt}}</small>
                    </div>

                    <div class="comment-content">
                        {{content}}
                    </div>

                </div>
            </div>
        {{/commentList}}

        {{^commentList}}
            <p class="empty-text">작성된 댓글이 없습니다.</p>
        {{/commentList}}

    </div>
</div>
{{> layout/footer}}