<link rel="stylesheet" href="/css/qna/qna.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="qna-content">

    {{#qnaPage.content}}
        <div class="qna-list-item">
            <h4>
                <a href="/qnas/{{id}}">{{title}}</a>
            </h4>
            <p>
                작성자 : {{name}}
                | 작성일 : {{createdAt}}
                | 조회수 : {{viewCount}}
            </p>
        </div>
    {{/qnaPage.content}}

    <div class="qna-card" style="background-color: #f1f5f9">
        <form class="qna-form" action="/qnas" method="get">
            <label>
                <input type="text" name="keyword" placeholder="검색어를 입력해주세요." value="{{#keyword}}{{keyword}}{{/keyword}}">
            </label>
            <div>
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="size" value="{{qnaPage.size}}">
                <div class="qna-btn-group" style="justify-content: flex-end">
                    <button class="qna-btn qna-btn-primary" type="submit">검색</button>
                    <a href="/qnas" class="qna-btn qna-btn-secondary">초기화</a>
                </div>
            </div>
        </form>
    </div>

    <div class="pagination">
        {{#qnaPage.previousPageNumber}}
            <a href="/qnas?page={{qnaPage.previousPageNumber}}" >Previous </a>
        {{/qnaPage.previousPageNumber}}
        {{^qnaPage.previousPageNumber}}
            <a href="#">Previous</a>
        {{/qnaPage.previousPageNumber}}

        {{#qnaPage.pageLinks}}
            <a href="/qnas?page={{displayNumber}}&size={{qnaPage.size}}" >{{displayNumber}} </a>
        {{/qnaPage.pageLinks}}

        {{#qnaPage.nextPageNumber}}
            <a href="/qnas?page={{qnaPage.nextPageNumber}}" >Next </a>
        {{/qnaPage.nextPageNumber}}
        {{^qnaPage.nextPageNumber}}
            <a href="#">Next</a>
        {{/qnaPage.nextPageNumber}}
    </div>

</div>
<script>
    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
{{> layout/footer}}