<link rel="stylesheet" href="/css/qna/qna.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="qna-container">
    <div class="qna-card">
        <div>
            <div class="qna-title">Q&A 수정</div>
            <div>
                <form class="qna-form" action="/qnas/{{qna.id}}/update" method="post">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">

                    <div>
                        <input type="text"
                        placeholder="Enter name"
                        name="name"
                        value="{{qna.name}}" disabled>
                    </div>
                    <div>
                        <input type="text"
                               placeholder="Enter title"
                               name="title"
                               value="{{qna.title}}">
                    </div>
                    <div class="qna-content">
                        <textarea rows="10" name="content"></textarea>
                    </div>
                    <div class="qna-btn-group">
                        <button class="qna-btn qna-btn-primary">Q&A 수정 완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}