<link rel="stylesheet" href="/css/qaa/qaa.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="qaa-content">

    {{#qaaPage.content}}
        <div class="qaa-list-item">
            <h4>
                <a href="/qaas/{{id}}">{{title}}</a>
            </h4>
            <p>
                작성자 : {{name}}
                | 작성일 : {{createdAt}}
                | 조회수 : {{viewCount}}
            </p>
        </div>
    {{/qaaPage.content}}

    <div class="qaa-card" style="background-color: #f1f5f9">
        <form class="qaa-form" action="/qaas" method="get">
            <label>
                <input type="text" name="keyword" placeholder="검색어를 입력해주세요." value="{{#keyword}}{{keyword}}{{/keyword}}">
            </label>
            <div>
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="size" value="{{qaaPage.size}}">
                <div class="qaa-btn-group" style="justify-content: flex-end">
                    <button class="qaa-btn qaa-btn-primary" type="submit">검색</button>
                    <a href="/qaas" class="qaa-btn qaa-btn-secondary">초기화</a>
                </div>
            </div>
        </form>
    </div>

    <div class="pagination">
        {{#qaaPage.previousPageNumber}}
            <a href="/qaas?page={{qaaPage.previousPageNumber}}" >Previous </a>
        {{/qaaPage.previousPageNumber}}
        {{^qaaPage.previousPageNumber}}
            <a href="#">Previous</a>
        {{/qaaPage.previousPageNumber}}

        {{#qaaPage.pageLinks}}
            <a href="/qaas?page={{displayNumber}}&size={{qaaPage.size}}" >{{displayNumber}} </a>
        {{/qaaPage.pageLinks}}

        {{#qaaPage.nextPageNumber}}
            <a href="/qaas?page={{qaaPage.nextPageNumber}}" >Next </a>
        {{/qaaPage.nextPageNumber}}
        {{^qaaPage.nextPageNumber}}
            <a href="#">Next</a>
        {{/qaaPage.nextPageNumber}}
    </div>

</div>
<script>
    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>
{{> layout/footer}}