<link rel="stylesheet" href="/css/user/loginStyle.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div>
    <div>
        <a href="/qaas/new">Q&A 작성</a>
    </div>

    {{#qaaPage.content}}
        <div>
            <div>
                <h4>{{title}}</h4>
                <p>
                    작성자 : {{name}}
                    | 작성일 : {{createdAt}}
                    | 조회수 : {{viewCount}}
                </p>
                <a href="/qaas/{{id}}">상세보기</a>
            </div>
        </div>
    {{/qaaPage.content}}

    <ul>
        {{#qaaPage.previousPageNumber}}
            <li>
                <a href="/qaas?page={{qaaPage.previousPageNumber}}">Previous
            </li>
        {{/qaaPage.previousPageNumber}}
        {{^qaaPage.previousPageNumber}}
            <li>
                <a href="#">Previous</a>
            </li>
        {{/qaaPage.previousPageNumber}}

        {{#qaaPage.pageLinks}}
            <li>
                <a href="/qaas?page={{displayNumber}}&size={{qaaPage.size}}">{{displayNumber}}
            </li>
        {{/qaaPage.pageLinks}}

        {{#qaaPage.nextPageNumber}}
            <li>
                <a href="/qaas?page={{qaaPage.nextPageNumber}}">Next
            </li>
        {{/qaaPage.nextPageNumber}}
        {{^qaaPage.nextPageNumber}}
            <li>
                <a href="#">Next</a>
            </li>
        {{/qaaPage.nextPageNumber}}
    </ul>

    <div>
        <div>
            <form action="/qaas" method="get">
                <div>
                    <label>
                        <input type="text" name="keyword" value="{{#keyword}}{{keyword}}{{/keyword}}">
                    </label>
                </div>
                <div class="col-md-2">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" value="{{qaaPage.size}}">
                    <button type="submit">검색</button>
                </div>
                <div>
                    <a href="/qaas">초기화</a>
                </div>
            </form>
        </div>
    </div>
</div>
{{> layout/footer}}