<link rel="stylesheet" href="/css/qaa/qaa.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="qaa-container">
    <div class="qaa-card">
        <div>
            <div class="qaa-title">Q&A 수정</div>
            <div>
                <form class="qaa-form" action="/qaas/{{qaa.id}}/update" method="post">
                    <div>
                        <input type="text"
                        placeholder="Enter name"
                        name="name"
                        value="{{qaa.name}}" disabled>
                    </div>
                    <div>
                        <input type="text"
                               placeholder="Enter title"
                               name="title"
                               value="{{qaa.title}}">
                    </div>
                    <div class="qaa-content">
                        <textarea rows="10" name="content"></textarea>
                    </div>
                    <div class="qaa-btn-group">
                        <button class="qaa-btn qaa-btn-primary">Q&A 수정 완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}