<link rel="stylesheet" href="/css/notification/notification.css"/>
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="notification-container">

    <h2 style="display: flex; justify-content: center">{{sessionUser.name}}님의 알림</h2>

    <div class="notification-card">
    {{#notifications}}
        <div class="notification-list-item">
            <div>
                <strong>[{{type}}]</strong>
                <span>({{status}})</span>
            </div>

            <div>
                <p>{{message}}</p>
                <span>주문번호 : {{orderId}}</span>
                <br>
                <span>상품명 : {{productName}}</span>
                <br>
                <span>결제 금액 : {{amount}}원</span>
            </div>

            <div>
                {{createdAt}}
            </div>
        </div>
    {{/notifications}}

        <div class="notification-list-item">
            {{^notifications}}
                <p>알림이 없습니다.</p>
            {{/notifications}}
        </div>
    </div>
</div>
{{> layout/footer}}