<link rel="stylesheet" href="/css/notification/notification.css"/>
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="notification-content">

    <h2>{{sessionUser.name}}님의 알림</h2>

    {{#notifications}}
        <div>
            <div>
                <strong>[{{type}}]</strong>
                <span>({{status}})</span>
            </div>

            <div>
                <p>{{message}}</p>

                <ul>
                    <li>주문번호 : {{orderId}}</li>
                    <li>상품명 : {{productName}}</li>
                    <li>결제 금액 : {{amount}}원</li>
                </ul>
            </div>

            <div>
                {{createdAt}}
            </div>
        </div>
    {{/notifications}}

    {{^notifications}}
        <p>알림이 없습니다.</p>
    {{/notifications}}

</div>
{{> layout/footer}}