{{> layout/header}}
<link rel="stylesheet" href="/templates/error/css/style.css">

<body>
<main>
    <div class="container">
        <div class="inner-wrapper">
            <div class="img-box">
                <img src="/templates/error/img/400.png" alt="">
                <p>400 Bad Request</p>
            </div>
        </div>
    </div>
</main>
</body>
{{> layout/footer}}