<link rel="stylesheet" href="/css/user/loginStyle.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div>
    <div>
        <div><b>공지사항 작성</b></div>
        <div>
            <form action="/notices/new" method="post">
                <div>
                    <input type="text" placeholder="title" name="title">
                </div>
                <div>
                    <textarea rows="10" name="content"></textarea>
                </div>
                <button>공지사항 작성</button>
            </form>
        </div>
    </div>
</div>
{{> layout/footer}}