<link rel="stylesheet" href="/css/notice/notice.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="notice-container">
    <div class="notice-card">
        <div class="notice-title"><b>공지사항 작성</b></div>
        <div>
            <form class="notice-form" action="/notices/new" method="post">
                <div>
                    <input type="text" placeholder="제목을 입력하세요" name="title">
                </div>
                <div>
                    <textarea rows="10" placeholder="내용을 입력하세요" name="content"></textarea>
                </div>
                <button class="notice-btn notice-btn-primary">공지사항 작성</button>
            </form>
        </div>
    </div>
</div>
{{> layout/footer}}