<link rel="stylesheet" href="/css/notice/notice.css">
<link rel="stylesheet" href="/css/layout/header.css"/>
{{> layout/header}}
<div class="notice-container">
    <div class="notice-card">
        <div>
            <div class="notice-title">공지사항 수정</div>
            <div>
                <form class="notice-form" action="/notices/{{notice.id}}/update" method="post">
                    <div>
                        <input type="text"
                               placeholder="Enter title"
                               name="title"
                               value="{{notice.title}}">
                    </div>
                    <div class="notice-content">
                        <textarea rows="10" name="content"></textarea>
                    </div>
                    <div class="notice-btn-group">
                        <button class="notice-btn notice-btn-primary">공지사항 수정 완료</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}